.typeContainer {
  height: 100vh;
  width: 100%;
  background-color: rgb(215, 228, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.typeContainer p {
  font-size: 42px;
  margin: 0;
  padding: 0;
  color: rgb(217, 91, 255);
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
#typewriter {
  padding-left: 10px;
}
.typeContainer h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.typeContainer span {
  color: #daa25a;
}

#cursor {
  /* animation: cursor-blink 1.2s infinite steps(1) ease-in-out; */
}

@keyframes cursor-blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/*------------- Magnetic Button -------------*/

.magneto {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: none;
  background-color: gray;
  color: white;
}
