#root {
  box-shadow: none;
  margin: 0;
  padding: 0;
}
body {
  width: 100dvw;
  height: 100%;
  overflow-x: hidden;
}

input {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding-inline-start: 10px;
  transition: border-color 0.25s;
}

input:focus {
  border: 1px solid #646cff;
}

.appPage {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.appPage div h1,
.appPage div h3 {
  padding: 5px;
  margin: 0;
}

.PagesContainer {
  padding: 0 5rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(5, minmax(250px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.box {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #4449a9;
  border-radius: 5px;
  height: 4.4rem;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
}

.box:hover {
  cursor: pointer;
  background-color: #7c82ff;
  height: 4.4rem;
  transform: scale(1.02);
}

.PagesContainer .box:hover p {
  font-size: 1.22;
}

.PagesContainer .box p {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  color: whitesmoke;
  transition: font-size 0.1s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .PagesContainer::-webkit-scrollbar {
  display: none;
} */

/* .PagesContainer { */
/* IE and Edge */
/* -ms-overflow-style: none; */
/* Firefox */
/* scrollbar-width: none; */
/* } */

.todoList {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.yellow-color {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(247, 241, 89);
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 241, 89);
  border-radius: 5px;
  place-content: center;
  align-items: center;
  height: 4.4rem;
}

.todo p {
  color: #4449a9;
  font-size: 1.5rem;
  font-weight: 400;
}

.todo:hover {
  cursor: default;
  user-select: none;
}
